<h1 class="d-flex justify-content-center mb-4">{{'general.organizations' | translate }}</h1>
<div class="container" *ngIf="context">
    <div class="row">
        <div class="col">
            <div class="d-flex">
                <a routerLink="/organizations/add" [queryParams]="{operation:Operation.Create}"
                    (click)="select.emit(null)">{{ 'organization.operations.add' |
                    translate }}</a>
                <span class="ms-3" *ngIf="busy">{{ 'data.loading' | translate }}</span>
            </div>
            <div class="d-flex mt-2" *ngIf="context?.entities?.length">
                <select class="form-select form-select-sm w-auto" name="pageSize"
                    [(ngModel)]="context.pagination?.request.pageSize"
                    (change)="search.emit({searchCriteria: context.searchCriteria, pageRequest: context.pagination.request})">
                    <option *ngFor="let count of [20,40,60]" [ngValue]="count">{{ count | number }}</option>
                </select>
                <span class="ms-2 pt-1">{{'data.entriesPerPage' | translate }}</span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr sortableList>
                        <th scope="col" sortableAttribute="name" (sort)="sort.emit($event)">
                            {{ 'organization.attributes.name' | translate }}
                        </th>
                        <th scope="col" sortableAttribute="contactName" (sort)="sort.emit($event)"
                            class="d-none d-md-table-cell">
                            {{'organization.attributes.contactName' | translate }}
                        </th>
                        <th scope="col" sortableAttribute="contactEmail" (sort)="sort.emit($event)"
                            class="d-none d-md-table-cell">
                            {{'organization.attributes.contactEmail' | translate }}
                        </th>
                        <th scope="col" sortableAttribute="contactPhone" (sort)="sort.emit($event)"
                            class="d-none d-md-table-cell">
                            {{'organization.attributes.contactPhone' | translate }}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="name"
                                [(ngModel)]="context.searchCriteria.name"
                                (keyup)="search.emit({searchCriteria: context.searchCriteria, pageRequest: context.pagination.request})" />
                        </td>
                        <td class="d-none d-md-table-cell">
                            <input class="form-control" type="text" name="contactName"
                                [(ngModel)]="context.searchCriteria.contactName"
                                (keyup)="search.emit({searchCriteria: context.searchCriteria, pageRequest: context.pagination.request})" />
                        </td>
                        <td class="d-none d-md-table-cell">
                            <input class="form-control" type="text" name="contactEmail"
                                [(ngModel)]="context.searchCriteria.contactEmail"
                                (keyup)="search.emit({searchCriteria: context.searchCriteria, pageRequest: context.pagination.request})" />
                        </td>
                        <td class="d-none d-md-table-cell">
                            <input class="form-control" type="text" name="contactPhone"
                                [(ngModel)]="context.searchCriteria.contactPhone"
                                (keyup)="search.emit({searchCriteria: context.searchCriteria, pageRequest: context.pagination.request})" />
                        </td>
                        <td></td>
                    </tr>
                    <ng-container *ngIf="context?.entities?.length">
                        <tr *ngFor="let entity of context.entities">
                            <td>
                                <ngb-highlight [result]="entity.name" [term]="context.searchCriteria.name" />
                            </td>
                            <td class="d-none d-md-table-cell">
                                <ngb-highlight [result]="entity.contactName"
                                    [term]="context.searchCriteria.contactName" />
                            </td>
                            <td class="d-none d-md-table-cell">
                                <ngb-highlight [result]="entity.contactEmail"
                                    [term]="context.searchCriteria.contactEmail" />
                            </td>
                            <td class="d-none d-md-table-cell">
                                <ngb-highlight [result]="entity.contactPhone"
                                    [term]="context.searchCriteria.contactPhone" />
                            </td>
                            <td class="d-flex">
                                <a routerLink="/organizations/details"
                                    [queryParams]="{uri:entity._links.self.href, operation:Operation.Read}"
                                    (click)="select.emit(entity);" attr.title="{{ 'operations.details' | translate }}">
                                    <em class="material-icons">visibility</em>
                                </a>
                                <a routerLink="/organizations/edit"
                                    [queryParams]="{uri:entity._links.self.href, operation:Operation.Update}"
                                    (click)="select.emit(entity);" attr.title="{{ 'operations.edit' | translate }}"
                                    class="mx-2">
                                    <em class="material-icons">edit</em>
                                </a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal"
                                    class="link-danger" (click)="select.emit(entity);"
                                    attr.title="{{ 'operations.delete' | translate }}">
                                    <em class="material-icons">delete</em>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2" *ngIf="context.pagination?.totalElements">
                <ng-container *ngIf="context.pagination.totalElements > 1; else oneEntryTemplate">
                    {{ 'data.pagination.range.plural' | translate: {start:context.pagination.range.start,
                    end:context.pagination.range.end, total: context.pagination.totalElements} }}
                </ng-container>
                <ng-template #oneEntryTemplate>
                    {{ 'data.pagination.range.singular' | translate: {start:context.pagination.range.start,
                    end:context.pagination.range.end, total: context.pagination.totalElements} }}
                </ng-template>
                <ngb-pagination [boundaryLinks]="true" [collectionSize]="context.pagination.totalElements"
                    [(page)]="context.pagination.request.pageNumber" [pageSize]="context.pagination.request.pageSize"
                    (pageChange)="pageChange.emit($event)">
                </ngb-pagination>
            </div>

            <p *ngIf="!busy && !context?.entities?.length">{{ 'data.noRecord' | translate }}</p>

            <app-organization-delete (manage)="manage.emit($event)" [entity]="context.selectedEntity" />
        </div>
    </div>
</div>