<div ngbAccordion>
    <div [collapsed]="false" ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Organization details</button>
        </h2>
        <div ngbAccordionCollapse>
            <div class="container" *ngIf="entity" ngbAccordionBody>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">Name:</span>
                    </div>
                    <div class="col">
                        <span>{{entity.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">Contact name:</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactName}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">Contact email:</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactEmail}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">Contact phone:</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactPhone}}</span>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <a routerLink="/organizations/edit" [queryParams]="{uri:entity._links.self.href,operation:Operation.Update}">Edit</a>
                    <span class="ms-2 me-2">|</span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal" class="link-danger">Delete</a>
                    <span class="ms-2 me-2">|</span>
                    <a routerLink="/organizations">List</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="entity?._links?.licenses?.href" (shown)="loadLicenses.emit(entity._links.licenses.href)" ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Licenses</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <app-license-list [entities]="licenses" [organization]="entity" (manage)="writeLicense.emit($event)"></app-license-list>
            </div>
        </div>
    </div>
</div>
<app-organization-delete (manage)="manage.emit($event)" [entity]="entity"></app-organization-delete>
