<div class="modal fade" id="deleteLicenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title">{{ 'license.operations.delete' | translate }}</h1>
                <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal"
                    attr.aria-label="{{'operations.close' | translate }}"></button>
            </div>
            <div class="modal-body">
                {{'license.messages.delete' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'operations.cancel' |
                    translate }}</button>
                <button type="button" class="btn btn-danger"
                    (click)="manage.emit({entity:entity,closeElement:closeButton,operation:Operation.Delete})">{{
                    'operations.delete' | translate }}</button>
            </div>
        </div>
    </div>
</div>