<form *ngIf="context && formGroup" [formGroup]="formGroup"
	(ngSubmit)="formGroup.valid && manage.emit({entity:formGroup.value, operation:context.operation})">

	<h1 class="mb-4 d-flex justify-content-center" id="title" [ngSwitch]="context.operation">
		<ng-container *ngSwitchCase="Operation.Create">{{ 'license.operations.add' | translate
			}}</ng-container>
		<ng-container *ngSwitchCase="Operation.Update">{{ 'license.operations.edit' | translate
			}}</ng-container>
	</h1>

	<div class="col-lg-6 mx-auto">
		<div>
			<label for="productName" class="fw-bold form-label">{{ 'license.attributes.productName' | translate
				}}</label>
			<input type="text" id="productName" placeholder="{{'license.prompts.productName' | translate }}"
				formControlName="productName" validationMessage
				[validationFieldName]="'license.attributes.productName' | translate" class="form-control">
		</div>
		<div>
			<label for="description" class="fw-bold form-label">{{ 'license.attributes.description' | translate
				}}</label>
			<input type="text" id="description" placeholder="{{'license.prompts.description' | translate }}"
				formControlName="description" class="form-control">
		</div>
		<div>
			<label for="comment" class="fw-bold form-label">{{ 'license.attributes.comment' | translate
				}}</label>
			<input type="email" id="comment" placeholder="{{'license.prompts.comment' | translate }}"
				formControlName="comment" class="form-control">
		</div>
		<div>
			<label for="licenseType" class="fw-bold form-label">{{ 'license.attributes.licenseType' | translate
				}}</label>
			<input type="text" id="licenseType" placeholder="{{'license.prompts.licenseType' | translate }}"
				formControlName="licenseType" validationMessage
				[validationFieldName]="'license.attributes.licenseType' | translate" class="form-control">
		</div>
		<div>
			<label for="organization" class="fw-bold form-label">{{ 'license.attributes.organization' | translate
				}}</label>
			<ng-select *ngIf="context.operation===Operation.Create"
				typeToSearchText="{{'data.prompts.typeToSearch' | translate }}" [items]="context.organizations"
				bindLabel="name" placeholder="{{'license.prompts.selectOrganization' | translate }}"
				formControlName="organization" validationMessage
				[validationFieldName]="'license.attributes.organization' | translate" />

			<a *ngIf="context.selectedEntity?.organization && context.operation===Operation.Update"
				routerLink="/organizations/details"
				[queryParams]="{uri:context.selectedEntity.organization._links.self.href, operation:Operation.Read}">{{context.selectedEntity.organization.name
				}}
			</a>
		</div>
	</div>
	<div class="mt-4 d-flex justify-content-center">
		<button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">{{ 'operations.save' | translate
			}}</button>
		<span class="m-2">|</span>
		<a routerLink="/licenses" class="btn btn-link ps-0">{{ 'operations.list' | translate }}</a>
	</div>
</form>