@import "bootstrap/scss/variables";

.container.striped>div.row {
	&:nth-of-type(odd) {
		background-color: $gray-300;
	}

	&:nth-of-type(even) {
		border-bottom: 1px solid $gray-500;
		border-top: 1px solid $gray-500;
	}

	&:first-child {
		border-top-color: 1px solid $gray-500;
	}
}