.ng-invalid.ng-touched:not(form) {
    border-color: $form-invalid-border-color;
}

.ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: $form-invalid-border-color;
}

.form-control {
    margin-bottom: .5rem;
}
