@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

/*
* Sidebar
*/
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 3rem 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  width: 100%;

  .nav-link {
    font-weight: 500;
    color: $gray-700;
  }

  .nav-link.active {
    color: var(--#{$prefix}nav-link-color);
  }

  @include media-breakpoint-down(md) {
    top: 5rem;
  }

  @include media-breakpoint-up(md) {
    position: relative;
    padding: .625rem 0 0;
    height: 100vh;
  }
}

/*
* Navbar
*/
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}