<ng-container *ngIf="userProfile; else loginTemplate">
    <span class="fw-bold me-2">{{ 'general.welcome' | translate : {userName: userProfile.info.name} }}</span>
    <a routerLink="/logout" class="btn btn-secondary btn-sm">
        <em class="material-icons">logout</em>
    </a>
</ng-container>
<ng-template #loginTemplate>
    <a routerLink="/login" class="btn btn-secondary d-flex btn-sm">
        <em class="material-icons">login</em>
        <span class="ms-2">{{ 'authentication.login' | translate }}</span>
    </a>
</ng-template>