<div ngbAccordion>
    <div [collapsed]="false" ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ 'organization.operations.details' | translate }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div class="container" *ngIf="entity" ngbAccordionBody>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.name' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{entity.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactName' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactName}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactEmail' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactEmail}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactPhone' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{entity.contactPhone}}</span>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <a routerLink="/organizations/edit" [queryParams]="{uri:entity._links.self.href,operation:Operation.Update}">{{ 'operations.edit' | translate }}</a>
                    <span class="ms-2 me-2">|</span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal" class="link-danger">{{ 'operations.delete' | translate }}</a>
                    <span class="ms-2 me-2">|</span>
                    <a routerLink="/organizations">{{ 'operations.list' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="entity?._links?.licenses?.href" (shown)="loadLicenses.emit(entity._links.licenses.href)" ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ 'general.licenses' | translate }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <app-license-list [entities]="licenses" [organization]="entity" (manage)="writeLicense.emit($event)"></app-license-list>
            </div>
        </div>
    </div>
</div>
<app-organization-delete (manage)="manage.emit($event)" [entity]="entity"></app-organization-delete>
