<div ngbAccordion *ngIf="context">
    <div [collapsed]="false" ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ 'organization.operations.details' | translate }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div class="container" *ngIf="context.selectedEntity" ngbAccordionBody>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.name' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{context.selectedEntity.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactName' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{context.selectedEntity.contactName}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactEmail' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{context.selectedEntity.contactEmail}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="fw-bold">{{ 'organization.labels.contactPhone' | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{context.selectedEntity.contactPhone}}</span>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    <a routerLink="/organizations/edit"
                        [queryParams]="{uri:context.selectedEntity._links.self.href,operation:Operation.Update}">{{
                        'operations.edit' | translate }}</a>
                    <span class="ms-2 me-2">|</span>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal" class="link-danger">{{
                        'operations.delete' | translate }}</a>
                    <span class="ms-2 me-2">|</span>
                    <a routerLink="/organizations">{{ 'operations.list' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="context.selectedEntity?._links?.licenses?.href"
        (shown)="searchLicenses.emit({searchCriteria: context.licenseContext.searchCriteria, pageRequest: context.licenseContext.pagination.request, uri: context.selectedEntity?._links?.licenses?.href})"
        ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ 'general.licenses' | translate }}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <app-license-list [enableManualContext]="true" [context]="context.licenseContext" [busy]="busy"
                    (manage)="writeLicense.emit($event)" (pageChange)="licensePageChange.emit($event)"
                    (search)="searchLicenses.emit($event)" />
            </div>
        </div>
    </div>
    <app-organization-delete (manage)="manage.emit($event)" [entity]="context.selectedEntity"></app-organization-delete>
</div>