<ng-container *ngIf="context">
    <h1 class="mb-4 d-flex justify-content-center">{{ 'organization.operations.details' | translate }}</h1>
    <div class="container" *ngIf="context.selectedEntity">
        <div class="row">
            <div class="col text-break text-lg-end fw-bold">
                {{ 'organization.labels.name' | translate }}
            </div>
            <div class="col text-break">
                {{context.selectedEntity.name}}
            </div>
        </div>
        <div class="row">
            <div class="col text-break text-lg-end fw-bold">
                {{ 'organization.labels.contactName' | translate }}
            </div>
            <div class="col text-break">
                {{context.selectedEntity.contactName}}
            </div>
        </div>
        <div class="row">
            <div class="col text-break text-lg-end fw-bold">
                {{ 'organization.labels.contactEmail' | translate }}
            </div>
            <div class="col text-break">
                {{context.selectedEntity.contactEmail}}
            </div>
        </div>
        <div class="row">
            <div class="col text-break text-lg-end fw-bold">
                {{ 'organization.labels.contactPhone' | translate }}
            </div>
            <div class="col text-break">
                {{context.selectedEntity.contactPhone}}
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <a routerLink="/organizations/edit"
                [queryParams]="{uri:context.selectedEntity._links.self.href,operation:Operation.Update}">{{
                'operations.edit' | translate }}</a>
            <span class="mx-2">|</span>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal" class="link-danger">{{
                'operations.delete' | translate }}</a>
            <span class="mx-2">|</span>
            <a routerLink="/organizations">{{ 'operations.list' | translate }}</a>
        </div>
    </div>
    <div class="mt-4" ngbAccordion>
        <div *ngIf="context.selectedEntity?._links?.licenses?.href"
            (shown)="searchLicenses.emit({searchCriteria: context.licenseContext.searchCriteria, pageRequest: context.licenseContext.pagination.request, uri: context.selectedEntity?._links?.licenses?.href})"
            ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ 'general.licenses' | translate }}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-license-list [enableManualContext]="true" [context]="context.licenseContext" [busy]="busy"
                        (manage)="writeLicense.emit($event)" (pageChange)="licensePageChange.emit($event)"
                        (search)="searchLicenses.emit($event)" />
                </div>
            </div>
        </div>
        <app-organization-delete (manage)="manage.emit($event)" [entity]="context.selectedEntity" />
    </div>
</ng-container>