<ng-container *ngIf="context">
    <h1 class="mb-4 d-flex justify-content-center">{{ 'license.operations.details' | translate }}</h1>
    <div class="container" *ngIf="context.selectedEntity">
        <div class="row">
            <div class="col text-end">
                <span class="fw-bold">{{ 'license.labels.productName' | translate }}</span>
            </div>
            <div class="col">
                <span>{{context.selectedEntity.productName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <span class="fw-bold">{{ 'license.labels.description' | translate }}</span>
            </div>
            <div class="col">
                <span>{{context.selectedEntity.description}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <span class="fw-bold">{{ 'license.labels.comment' | translate }}</span>
            </div>
            <div class="col">
                <span>{{context.selectedEntity.comment}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <span class="fw-bold">{{ 'license.labels.licenseType' | translate }}</span>
            </div>
            <div class="col">
                <span>{{context.selectedEntity.licenseType}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <label for="organization" class="fw-bold">{{ 'license.labels.organization' |
                    translate
                    }}</label>
            </div>
            <div class="col">
                <a *ngIf="context.selectedEntity?.organization" routerLink="/organizations/details"
                    [queryParams]="{uri:context.selectedEntity.organization._links.self.href, operation:Operation.Read}">{{context.selectedEntity.organization.name
                    }}
                </a>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <a routerLink="/licenses/edit"
                [queryParams]="{uri:context.selectedEntity._links.self.href,operation:Operation.Update}">{{
                'operations.edit' | translate }}</a>
            <span class="ms-2 me-2">|</span>
            <a href="#" class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteLicenseModal">{{
                'operations.delete' | translate }}</a>
            <span class="ms-2 me-2">|</span>
            <a routerLink="/licenses">{{ 'operations.list' | translate }}</a>
        </div>
    </div>
</ng-container>