<div class="modal fade" id="viewLicenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title">{{ 'license.operations.details' | translate }}</h1>
                <button #closeButton type="button" class="btn-close" data-bs-dismiss="modal"
                    attr.aria-label="{{ 'operations.close' | translate }}"></button>
            </div>
            <div class="modal-body">
                <div class="container" *ngIf="entity">
                    <div class="row">
                        <div class="col text-end">
                            <span class="fw-bold">{{ 'license.labels.productName' | translate }}</span>
                        </div>
                        <div class="col">
                            <span>{{entity.productName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <span class="fw-bold">{{ 'license.labels.description' | translate }}</span>
                        </div>
                        <div class="col">
                            <span>{{entity.description}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <span class="fw-bold">{{ 'license.labels.comment' | translate }}</span>
                        </div>
                        <div class="col">
                            <span>{{entity.comment}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <span class="fw-bold">{{ 'license.labels.licenseType' | translate }}</span>
                        </div>
                        <div class="col">
                            <span>{{entity.licenseType}}</span>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#writeLicenseModal">{{ 'operations.edit' |
                            translate }}</a>
                        <span class="ms-2 me-2">|</span>
                        <a href="#" class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteLicenseModal">{{
                            'operations.delete' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>