<ng-container *ngIf="context">
    <form *ngIf="formGroup" [formGroup]="formGroup"
        (ngSubmit)="formGroup.valid && manage.emit({ entity: formGroup.value, operation: context.operation })">
        <h1 class="mb-4 d-flex justify-content-center" id="title" [ngSwitch]="context.operation">
            <ng-container *ngSwitchCase="Operation.Create">{{ 'organization.operations.add' |
                translate }}</ng-container>
            <ng-container *ngSwitchCase="Operation.Update">{{ 'organization.operations.edit' |
                translate }}</ng-container>
        </h1>
        <div class="col-lg-6 mx-auto">
            <div>
                <label for="name" class="fw-bold form-label">{{ 'organization.attributes.name' |
                    translate }}</label>
                <input type="text" id="name" placeholder="{{'organization.prompts.name' | translate }}"
                    formControlName="name" validationMessage
                    [validationFieldName]="'organization.attributes.name' | translate" class="form-control">
            </div>
            <div>
                <label for="contactName" class="fw-bold form-label">{{ 'organization.attributes.contactName' |
                    translate }}</label>
                <input type="text" id="contactName" placeholder="{{'organization.prompts.contactName' | translate }}"
                    formControlName="contactName" validationMessage
                    [validationFieldName]="'organization.attributes.contactName' | translate" class="form-control">
            </div>
            <div>
                <label for="contactEmail" class="fw-bold form-label">{{ 'organization.attributes.contactEmail' |
                    translate }}</label>
                <input type="email" id="contactEmail" placeholder="{{'organization.prompts.contactEmail' | translate }}"
                    formControlName="contactEmail" validationMessage
                    [validationFieldName]="'organization.attributes.contactEmail' | translate" class="form-control">
            </div>
            <div>
                <label for="contactPhone" class="fw-bold form-label">{{ 'organization.attributes.contactPhone' |
                    translate }}</label>
                <input type="text" id="contactPhone" placeholder="{{'organization.prompts.contactPhone' | translate }}"
                    formControlName="contactPhone" validationMessage
                    [validationFieldName]="'organization.attributes.contactPhone' | translate" class="form-control">
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">{{ 'operations.save' |
                translate
                }}</button>
            <span class="m-2">|</span>
            <a routerLink="/organizations" class="btn btn-link ps-0">{{ 'operations.list' |
                translate }}</a>
        </div>
    </form>
    <div class="mt-4" ngbAccordion>
        <div *ngIf="formGroup.value?._links?.licenses?.href"
            (shown)="searchLicenses.emit({searchCriteria: context.licenseContext.searchCriteria, pageRequest: context.licenseContext.pagination.request, uri: formGroup.value._links.licenses.href})"
            ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{ 'general.licenses' | translate }}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-license-list [enableManualContext]="true" [context]="context.licenseContext" [busy]="busy"
                        (manage)="writeLicense.emit($event)" (pageChange)="licensePageChange.emit($event)"
                        (search)="searchLicenses.emit($event)" />
                </div>
            </div>
        </div>
    </div>
</ng-container>