<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse"
    *ngIf="{toggle:['XS','SM'].includes(deviceType) ? 'collapse' : ''} as data">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link d-flex" [routerLinkActive]="['active']"
                    data-bs-target="#sidebarMenu" attr.data-bs-toggle="{{data.toggle}}">
                    <em class="material-icons">home</em>
                    <span class="">{{ 'general.home'| translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/organizations" class="nav-link d-flex" [routerLinkActive]="['active']"
                    data-bs-target="#sidebarMenu" attr.data-bs-toggle="{{data.toggle}}">
                    <em class="material-icons">groupes</em>
                    <span class="ms-1">{{ 'general.organizations' | translate }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/licenses" class="nav-link d-flex" [routerLinkActive]="['active']"
                    data-bs-target="#sidebarMenu" attr.data-bs-toggle="{{data.toggle}}">
                    <em class="material-icons">key</em>
                    <span class="ms-1">{{ 'general.licenses' | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>