<h1 class="d-flex justify-content-center mb-4">{{'general.organizations' | translate }}</h1>
<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <div class="d-flex">
                <a routerLink="/organizations/add" [queryParams]="{operation:Operation.Create}">{{
                    'organization.operations.add' | translate }}</a>
                <span class="ms-3" *ngIf="busy">{{ 'data.loading' | translate }}</span>
            </div>
            <div class="d-flex mt-2" *ngIf="entities?.length">
                <select class="form-select form-select-sm w-auto" name="pageSize" [(ngModel)]="page.request.pageSize"
                    (change)="search.emit(searchCriteria)">
                    <option *ngFor="let count of [20,40,60]" [ngValue]="count">{{ count | number }}</option>
                </select>
                <span class="ms-2 pt-1">{{'data.entriesPerPage' | translate }}</span>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" sortable="name" (sort)="sort.emit($event)">{{
                            'organization.attributes.name'
                            | translate }}</th>
                        <th scope="col" sortable="contactName" (sort)="sort.emit($event)">
                            {{'organization.attributes.contactName' | translate }}</th>
                        <th scope="col" sortable="contactEmail" (sort)="sort.emit($event)">
                            {{'organization.attributes.contactEmail' | translate }}</th>
                        <th scope="col" sortable="contactPhone" (sort)="sort.emit($event)">
                            {{'organization.attributes.contactPhone' | translate }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="name" [(ngModel)]="searchCriteria.name"
                                (keyup)="search.emit(searchCriteria)" />
                        </td>
                        <td>
                            <input class="form-control" type="text" name="contactName"
                                [(ngModel)]="searchCriteria.contactName" (keyup)="search.emit(searchCriteria)" />
                        </td>
                        <td>
                            <input class="form-control" type="text" name="contactEmail"
                                [(ngModel)]="searchCriteria.contactEmail" (keyup)="search.emit(searchCriteria)" />
                        </td>
                        <td>
                            <input class="form-control" type="text" name="contactPhone"
                                [(ngModel)]="searchCriteria.contactPhone" (keyup)="search.emit(searchCriteria)" />
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <ng-container *ngIf="entities?.length">
                        <tr *ngFor="let entity of entities">
                            <td><ngb-highlight [result]="entity.name" [term]="searchCriteria.name"></ngb-highlight></td>
                            <td><ngb-highlight [result]="entity.contactName"
                                    [term]="searchCriteria.contactName"></ngb-highlight></td>
                            <td><ngb-highlight [result]="entity.contactEmail"
                                    [term]="searchCriteria.contactEmail"></ngb-highlight></td>
                            <td><ngb-highlight [result]="entity.contactPhone"
                                    [term]="searchCriteria.contactPhone"></ngb-highlight></td>
                            <td>
                                <a routerLink="/organizations/details"
                                    [queryParams]="{uri:entity._links.self.href,operation:Operation.Read}">{{
                                    'operations.details' | translate }}
                                </a>
                            </td>
                            <td><a routerLink="/organizations/edit"
                                    [queryParams]="{uri:entity._links.self.href,operation:Operation.Update}">{{
                                    'operations.edit' | translate }}</a>
                            </td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal"
                                    class="link-danger" (click)="selectedEntity=entity">{{ 'operations.delete' |
                                    translate }}
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2" *ngIf="entities?.length">
                <ngb-pagination [collectionSize]="page.totalElements" [(page)]="page.request.pageNumber"
                    [pageSize]="page.request.pageSize" (pageChange)="pageChange.emit($event)">
                </ngb-pagination>
            </div>

            <p *ngIf="!entities?.length">{{ 'data.noRecord' | translate }}</p>

            <app-organization-delete (manage)="manage.emit($event)" [entity]="selectedEntity"></app-organization-delete>
        </div>
    </div>
</div>