<h1 class="d-flex justify-content-center mb-4">Organizations</h1>
<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <a routerLink="/organizations/add" [queryParams]="{operation:Operation.Create}">Add an organization</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" sortable="name">
                            Name
                            <input class="form-control" type="text" name="name" [(ngModel)]="searchCriteria.name"
                                (keyup)="search.emit(searchCriteria)" />
                        </th>
                        <th scope="col" sortable="contactName">
                            Contact Name
                            <input class="form-control" type="text" name="contactName"
                                [(ngModel)]="searchCriteria.contactName" (keyup)="search.emit(searchCriteria)" />
                        </th>
                        <th scope="col" sortable="contactEmail">
                            Contact Email
                            <input class="form-control" type="text" name="contactEmail"
                                [(ngModel)]="searchCriteria.contactEmail" (keyup)="search.emit(searchCriteria)" />
                        </th>
                        <th scope="col" sortable="contactPhone">
                            Contact Phone
                            <input class="form-control" type="text" name="contactPhone"
                                [(ngModel)]="searchCriteria.contactPhone" (keyup)="search.emit(searchCriteria)" />
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="entities?.length">
                    <tr *ngFor="let entity of entities">
                        <td><ngb-highlight [result]="entity.name" [term]="searchCriteria.name"></ngb-highlight></td>
                        <td><ngb-highlight [result]="entity.contactName"
                                [term]="searchCriteria.contactName"></ngb-highlight></td>
                        <td><ngb-highlight [result]="entity.contactEmail"
                                [term]="searchCriteria.contactEmail"></ngb-highlight></td>
                        <td><ngb-highlight [result]="entity.contactPhone"
                                [term]="searchCriteria.contactPhone"></ngb-highlight></td>
                        <td>
                            <a routerLink="/organizations/details"
                                [queryParams]="{uri:entity._links.self.href,operation:Operation.Read}">Details
                            </a>
                        </td>
                        <td><a routerLink="/organizations/edit"
                                [queryParams]="{uri:entity._links.self.href,operation:Operation.Update}">Edit</a>
                        </td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal"
                                class="link-danger" (click)="selectedEntity=entity">Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="page.totalElements" [(page)]="page.request.pageNumber" [pageSize]="page.request.pageSize"
                    (pageChange)="pageChange.emit($event)">
                </ngb-pagination>

                <select class="form-select form-select-sm w-auto" name="pageSize" [(ngModel)]="page.request.pageSize" (change)="search.emit(searchCriteria)">
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="40">40 items per page</option>
                    <option [ngValue]="60">60 items per page</option>
                </select>
            </div>

            <p *ngIf="!entities?.length">No record to display</p>

            <app-organization-delete (manage)="manage.emit($event)" [entity]="selectedEntity"></app-organization-delete>
        </div>
    </div>
</div>