<h1 class="d-flex justify-content-center mb-4">Licenses</h1>
<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <a routerLink="/licenses/add" [queryParams]="{organizationId:params['organizationId']}">Add a license</a>

            <ng-container *ngIf="licenses?.length; else emptyLicenseTemplate">
                <p class="mt-2 fw-bold">Below is the list of available licenses:</p>

                <ul *ngFor="let license of licenses">
                    <li>
                        <a routerLink="/licenses/details"
                            [queryParams]="{uri:license._links.self.href}">{{license.productName}}</a>
                    </li>
                </ul>
            </ng-container>

            <ng-template #emptyLicenseTemplate>
                <p>You haven't added any license yet.</p>
            </ng-template>
        </div>
    </div>
</div>