<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <a href="#" data-bs-toggle="modal" data-bs-target="#writeLicenseModal"
                (click)="selectedLicense=null;operation=Operation.Create">{{ 'license.operations.add' |
                translate }}</a>

            <ng-container *ngIf="entities?.length; else emptyLicenseTemplate">
                <p class="mt-2 fw-bold">{{ 'license.messages.available' | translate }}</p>
                <div class="container">
                    <div class="row mt-1 mb-1" *ngFor="let entity of entities">
                        <div class="col">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#viewLicenseModal"
                                (click)="selectedLicense=entity;operation=Operation.Update">{{entity.productName}}</a>
                        </div>
                        <div class="col-auto">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#writeLicenseModal"
                                (click)="selectedLicense=entity;operation=Operation.Update">{{ 'operations.edit' |
                                translate }}</a>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteLicenseModal"
                                (click)="selectedLicense=entity;operation=Operation.Delete">{{ 'operations.delete' |
                                translate }}</a>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #emptyLicenseTemplate>
                <p>{{ 'license.messages.notYetAdded' | translate }}</p>
            </ng-template>
        </div>
    </div>
</div>
<app-license-write [entity]="selectedLicense" (manage)="manage.emit($event)" [organization]="organization"
    [operation]="operation"></app-license-write>
<app-license-delete [entity]="selectedLicense" [organization]="organization"
    (manage)="manage.emit($event)"></app-license-delete>
<app-license-details [entity]="selectedLicense" [organization]="organization"
    [operation]="operation"></app-license-details>