<form *ngIf="formGroup" [formGroup]="formGroup">
    <div ngbAccordion>
        <div [collapsed]="false" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>{{title$ | async}}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <div class="container">
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="name" class="fw-bold">Name:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="name" placeholder="Organization name" formControlName="name">
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactName" class="fw-bold">Contact name:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="contactName" placeholder="Contact name"
                                    formControlName="contactName">
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactEmail" class="fw-bold">Contact email:</label>
                            </div>
                            <div class="col">
                                <input type="email" id="contactEmail" placeholder="Contact email"
                                    formControlName="contactEmail">
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactPhone" class="fw-bold">Contact phone:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="contactPhone" placeholder="Contact phone"
                                    formControlName="contactPhone">
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" (click)="write.emit({organization:formGroup.value,mode:mode})">Save</button>
                        <span class="m-2">|</span>
                        <a routerLink="/organizations" class="btn btn-link ps-0">List</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="entity?._links?.licenses?.href" (shown)="loadLicenses.emit(entity._links.licenses.href)" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Licenses</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-license-list [entities]="licenses" [organization]="entity" (write)="writeLicense.emit($event)"></app-license-list>
                </div>
            </div>
        </div>
    </div>
</form>