<form *ngIf="formGroup" [formGroup]="formGroup">
    <div ngbAccordion>
        <div [collapsed]="false" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton [ngSwitch]="operation">
                    <ng-container *ngSwitchCase="Operation.Create" i18n>Add an organization</ng-container>
                    <ng-container *ngSwitchCase="Operation.Update" i18n>Edit organization</ng-container>
                    <ng-container *ngSwitchCase="Operation.Read" i18n>Organization details</ng-container>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <div class="container">
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="name" class="fw-bold" i18n>Name:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="name" placeholder="Organization name" formControlName="name" i18n-placeholder>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactName" class="fw-bold" i18n>Contact name:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="contactName" placeholder="Contact name"
                                    formControlName="contactName" i18n-placeholder>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactEmail" class="fw-bold" i18n>Contact email:</label>
                            </div>
                            <div class="col">
                                <input type="email" id="contactEmail" placeholder="Contact email"
                                    formControlName="contactEmail" i18n-placeholder>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col text-end">
                                <label for="contactPhone" class="fw-bold" i18n>Contact phone:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="contactPhone" placeholder="Contact phone"
                                    formControlName="contactPhone" i18n-placeholder>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" (click)="manage.emit({entity:formGroup.value,operation:operation})" i18n>Save</button>
                        <span class="m-2">|</span>
                        <a routerLink="/organizations" class="btn btn-link ps-0" i18n>List</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="entity?._links?.licenses?.href" (shown)="loadLicenses.emit(entity._links.licenses.href)" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton i18n>Licenses</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-license-list [entities]="licenses" [organization]="entity" (manage)="writeLicense.emit($event)"></app-license-list>
                </div>
            </div>
        </div>
    </div>
</form>